body, html {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

h1, h2, h3 {
    text-align: center;
}

div {
    text-align: center;
    flex: 1;
}

img {
    width: 15%;
}

